@import "tailwindcss";
@import '@fontsource-variable/onest';

body {
  font-family: 'Onest Variable', system-ui, sans-serif;
  color: white;
  background-color: #1a1a1a;
}

.characters {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 1800px;
  margin: 0 auto;
}

.character {
  max-width: 300px;
}

.character img {
  max-width: 240px;
}